.chat-list-card{
    padding: 10px;
    font-size: smaller;
}
.singe-line {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
}
.plus_btn {
    width: 100%;
}

.topbar-username {
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    white-space: nowrap;
    max-width: 60px;
}